body {
  background: rgb(0, 0, 0, 0.9);
  color: #ffffffec;
  font-family: sans-serif;
}

.container {
  margin: 65px auto;
  width: 80%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 24px;
}

a {
  color: rgb(47, 102, 185);
}

#city-select {
  width: 100%;
  margin: 25px 0;
  background-color: rgb(22, 22, 22);
  border-radius: 4px;
  color: #ffffffec;
  padding: 5px;
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.city-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding: 15px 0;
}

.city-box:last-child {
  border: none;
}

.date {
  margin-top: 10px;
  opacity: 0.5;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
small {
  font-size: 24px;
  vertical-align: middle;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 90%;
}

footer {
  text-align: center;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
